# Distribution / packaging
__pycache__/
.Python
env/
build/
config/prod.*
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
node_modules/
parts/
sdist/
var/
venv/
*.egg-info/
.installed.cfg
*.egg
*.pyc

# Serverless directories
.serverless
