process:
  - schedule:
      # every hour (dev only!)
      rate: cron(0 * * * ? *)
      enabled: true
      input:
        site: demo
        location: https://archivesspace.lyrasistechnology.org/files/exports/manifest_ead_xml.csv
        username: ${ssm:fad_demo_username}
        password: ${ssm:fad_demo_password~true}
